<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jQuery TodoMVC</title>
		<link rel="stylesheet" href="./partial/header.css">
		<link rel="stylesheet" href="./partial/contents.css">
		<link rel="stylesheet" href="./partial/footer.css">
	</head>
	<body>
		<section id="todoapp">
			<%- partial('partial/header.ejs') %>
			<%- partial('partial/contents.ejs') %>
			<%- partial('partial/footer.ejs') %>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</body>
</html>
