<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jQuery TodoMVC</title>
		<link rel="stylesheet" href="/components/header.css">
		<link rel="stylesheet" href="/components/contents.css">
		<link rel="stylesheet" href="/components/footer.css">
	</head>
	<body data-reference=<%= pageInformation %> >
		<section id="todoapp">
			<header id="header">
				<!-- <h1>todos</h1> -->
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
				<script id="todo-dom" type="text/x-handlebars-template">
					{{#Todos}}
					<li data-primary-key={{idx}} class="{{#if isCompleted}}completed{{/if}}">
						<div class="view">
							<input class="toggle" type="checkbox" {{#if isCompleted}}checked{{/if}}>
							<label>{{todo}}</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="dd">
					</li>
					{{/Todos}}
				</script>
			</section>
			<footer id="footer">
				<script type="text/x-handlebars-template" id="footerTemplate">
					<span id="todo-count"><strong>0</strong> items left</span>
				</script>
				<ul id="filters">
					<li><a <% if(filter==="All"){ %>class="selected"<% } %> href="/view/All" data-filter="all">All</a></li>
					<li><a href="/view/Active" data-filter="active" <% if(filter==="Active"){ %>class="selected"<% } %>>Active</a></li>
					<li><a href="/view/Completed" data-filter="completed" <% if(filter==="Completed"){ %>class="selected"<% } %>>Completed</a></li>
				</ul>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script data-main="/main" src="/lib/require.js"></script>
	</body>
</html>
