<section id="main">
	<input id="toggle-all" type="checkbox">
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list"></ul>
	<script id="todo-dom" type="text/x-handlebars-template">
		{{#Todos}}
		<li data-primary-key={{idx}} class="{{#if isCompleted}}completed{{/if}}">
			<div class="view">
				<input class="toggle" type="checkbox" {{#if isCompleted}}checked{{/if}}>
				<label>{{todo}}</label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="dd">
		</li>
		{{/Todos}}
	</script>
</section>
